.layout {
  border-radius: 12px;
  border: 1px solid #FAFAFA;
  background: #FAFAFA;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fullWidth {
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}