.metallicSphere {
  position: absolute;
  right: -120px;
  top: -180px;
  z-index: -1;
}

@media (max-width: 768px) {
  .metallicSphere {
    width: 325px;
    height: 325px;
    right: -90px;
    top: -130px;
  }
  .hero{
    section{
      height: auto;
      padding-top: 90px;
    }
  }
}