.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(4px);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 888;
}

.content {
  background-color: #FFFFFF;
  overflow: hidden;
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 420px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 889;

  &:focus {
    outline: none;
  }
}

.decorElements {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightDecorElements {
  position: absolute;
  right: -390px;
  bottom: -216px;
}

.leftDecorElements {
  position: absolute;
  left: -400px;
  bottom: -210px;
}

.contentLayout {
  padding: 50px 0;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.close {
  margin: 32px auto 0 auto;
  width: max-content;
}

@media (max-width: 820px) {
  .content {
    width: 90%;
  }

  .contentLayout {
    padding: 20px 12px;
  }

  .rightDecorElements {
    right: -330px;
    bottom: -216px;
  }

  .leftDecorElements {
    left: -300px;
    bottom: -210px;
  }

}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}