.layout {
  overflow: hidden;
  height: 808px;
  border-radius: 12px;
  background-color: #C1D5FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.metallicSphere {
  position: absolute;
  right: -150px;
  top: -20px;
  z-index: -1;
}

.content {
  padding: 0 18px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 18px;

  .titleLayout {
    width: 590px;
  }

  .title {
    line-height: 72px;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
}

.contactUs {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    width: 670px;
    line-height: 20px;
  }

  .btn {
    align-items: center;
    gap: 10px;
  }

  .desktopBtn {
    display: flex;
  }
}

.mobileBtn {
  display: none;
}

.heroFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.scrollText {
  color: rgba(13, 32, 86, 0.70);
  text-transform: uppercase;
}

.opacityText {
  color: rgba(13, 32, 86, 0.20);
}

.nextBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .content {
    padding: 0 12px;

    .title {
      line-height: 50px;
      text-transform: capitalize;
    }

    .titleLayout {
      width: 100%;
    }
  }

  .contactUs {
    .desktopBtn {
      display: none;
    }
  }

  .mobileBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .scrollText {
    display: none;
  }

  .heroFooter {
    margin-bottom: 20px;
  }
}