.layout {
  margin-top: 6px;
  padding: 18px 18px 28px 18px;
  background-color: #FFFFFF;
  border-radius: 12px;
  height: 248px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.image {
  position: absolute;
  top: -80px;
  right: -50px;
  z-index: -1;
}

.text {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;

  h5 {
    opacity: 0.7;
  }
}