.text {
  font-weight: 400;
}

.baseSize {
  font-size: 0.875rem;
}

.lgSize {
  font-size: 1rem;
}

.darkBlueColor {
  color: #0B1635;
}

.mediumBlueColor {
  color: #0D2056;
}

.blackColor {
  color: rgba(0, 0, 0, 0.70);
}

.lightBlueColor {
  color: #3D4D7C;
}

.normalWeight {
  font-weight: 400;
}

.mediumWeight {
  font-weight: 500;
}

.thinWeight {
  font-weight: 300;
}