.text {
  font-weight: 400;
}

.smSize {
  font-size: 0.75rem;
}

.baseSize {
  font-size: 0.875rem;
}

.lgSize {
  font-size: 1rem;
}

.headingSize {
  font-size: 2.375rem;
}

.darkBlueColor {
  color: #0B1635;
}

.mediumBlueColor {
  color: #0D2056;
}

.blackColor {
  color: rgba(0, 0, 0, 0.70);
}

.lightBlueColor {
  color: #3D4D7C;
}

.darkPurple {
  color: #560D46
}

.umber {
  color: rgba(74, 48, 10, 0.70);
}

.normalWeight {
  font-weight: 400;
}

.mediumWeight {
  font-weight: 500;
}

.thinWeight {
  font-weight: 300;
}

.extraThinWeight {
  font-weight: 200;
}

.uppercase {
  text-transform: uppercase;
}