.text {
  font-weight: 400;
}

.blackYellow {
  color: #242102;
}

.smSize {
  font-size: 0.75rem;
}

.baseSize {
  font-size: 0.875rem;
}

.lgSize {
  font-size: 1rem;
}

.xlSize {
  font-size: 1.125rem;
}

.headingSize {
  font-size: 2.375rem;
}

.coralColor {
  color: #480808;
}

.deepBlack {
  color: #000000;
}

.darkGrayColor {
  color: #101828;
}

.darkBlueColor {
  color: #0b1635;
}

.mediumBlueColor {
  color: #0d2056;
}

.blackColor {
  color: rgba(0, 0, 0, 0.7);
}

.lightBlueColor {
  color: #3d4d7c;
}

.darkPurple {
  color: #560d46;
}

.blackPurple {
  color: #410d56;
}

.umber {
  color: rgba(74, 48, 10, 0.7);
}

.white {
  color: #ffffff;
}

.lightGreen {
  color: #0a4a19;
  opacity: 0.7;
}

.green {
  color: #0a4a19;
}

.normalWeight {
  font-weight: 400;
}

.mediumWeight {
  font-weight: 500;
}

.semiboldWeight {
  font-weight: 600;
}

.thinWeight {
  font-weight: 300;
}

.extraThinWeight {
  font-weight: 200;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}
