.layout {
  height: 288px;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 0 16% 28px 16%;
  overflow: hidden;
}

.title {
  margin-top: auto;
}

.metallicSphere {
  position: absolute;
  right: -400px;
  top: -20px;
  z-index: -1;
}
