.layout {
  height: 288px;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 0 16% 28px 16%;
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: auto;
  z-index: 2;
}

.metallicSphere {
  position: absolute;
  right: -400px;
  top: -20px;
  z-index: -1;
}

@media (max-width: 768px) {
  .layout {
    padding: 0 12px 28px 12px;
  }

  .metallicSphere {
    width: 288px;
    height: 288px;
    right: -80px;
  }
}