.layout {
  justify-content: start;
  align-items: start;
}

.content {
  padding: 30px;
  text-align: left;
}

.registerHeight {
  height: 480px;
}

@media (max-width: 768px) {
  .content {
    padding: 20px 16px;
  }
}