.avatar {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0D2056;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background-color: #E0EAFF;
  border-radius: 100px;
}