.metallicSphere {
  position: absolute;
  right: 0;
  top: -270px;
  z-index: -1;
}

@media (max-width: 768px) {
  .metallicSphere {
    width: 320px;
    height: 320px;
    right: -120px;
    top: -170px;
  }
}