.layout {
  padding: 80px 28px;
  margin-top: 6px;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    line-height: normal;
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 312px;
  }
}

.howItWorks {
  margin: 30px 0;
}

.stepImg {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.stepOneImg {
  top: -30px;
}

.stepThreeImg {
  top: -30px;
}

.priceLayout {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black !important;
}

.requestLayout {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: end;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .stepImg {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .stepOneImg {
    width: 206px;
    height: 206px;
  }

  .stepTwoImg {
    width: 248px;
    height: 248px;
  }

  .stepThreeImg {
    width: 224px;
    height: 224px;
  }
}

@media (max-width: 768px) {
  .layout {
    padding: 22px 12px;
  }

  .desc {
    width: 100%;
  }

  .requestLayout {
    align-items: center;
    gap: 12px;

    button {
      width: 100%;
    }
  }

  .header {
    flex-direction: column;
    align-items: start !important;
    gap: 30px;
  }
}