@import "fonts.css";
@import 'reset-css';
@import "local-reset.css";

html {
  scroll-behavior: smooth;
}

body {
  padding: 12px;
  overflow-x: hidden;
  font-style: normal;
  font-family: 'Fixel', sans-serif;
  font-feature-settings: 'liga' off, 'clig' off;
  background: #EFEFEF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0 !important;
}

body[data-scroll-locked] {
  padding: 12px !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #C1D5FF;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: #EFEFEF;
}

.no-scroll {
  overflow: hidden;
}

.skiptranslate {
  display: none !important;
}
