.layout {
  padding: 40px 28px;
  border-radius: 12px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.separator {
  margin-top: 12px;
  margin-bottom: 32px;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.price {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
  margin-top: 26px;
}

@media (max-width: 768px) {
  .layout {
    padding: 40px 12px;
    width: initial;
  }
}