.layout {
  border-radius: 100px;
  background: #E0EAFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  width: max-content;
  display: flex;
  line-height: normal;
  backdrop-filter: blur(20px);
  padding: 6px 20px;
}