.layout {
  border-radius: 100px;
  background: rgba(193, 213, 255, 0.50);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  width: max-content;
  line-height: normal;
  padding: 6px 20px;
}