.layout {
  margin-top: 6px;
  padding: 80px 28px;
  border-radius: 12px;
  background-color: #FFFFFF;
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.titleLayout {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 417px;
}

.storyCardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.storyCardHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.storiesLayout {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.storyCardLink {
  p {
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: uppercase;
  }
}

.storyCardImageWrapper {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
}

.storyCardMedia {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.storyCardImage {
  width: 100%;
  height: 294px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.storyTag {
  position: absolute;
  top: 12px;
  left: 12px;
}

.textSize {
  font-size: 0.875rem !important;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    padding: 22px 12px;
    gap: 30px;
  }

  .textSize {
    font-size: 0.75rem !important;
  }
  
  .storiesLayout {
    width: 100%;
  }
}