.layout {
  .content {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 420px;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 768px) {
        width: 100%;
      }
      > div {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }

    .reasons {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      @media (max-width: 768px) {
        width: 100%;
      }
      .reason {
        display: flex;
        gap: 18px;
        align-items: center;
        border-radius: 12px;
        background: #fafafa;
        padding: 20px;
        @media (max-width: 768px) {
          flex-direction: column;
          padding: 12px;
          align-items: flex-start;
        }
        img {
          width: 60px;
          height: 60px;
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 6px;
          h4 {
            line-height: 1.3;
          }
        }
      }
    }
    .linkButton {
      box-sizing: border-box;
      margin-bottom: 15px;
      @media (max-width: 768px) {
        width: 100%;
        margin-top: 0;
        justify-content: space-between;
      }
    }
  }
}

.linkBtnDesktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkBtnMobile {
  display: none;
}

@media (max-width: 768px) {
  .linkBtnMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .linkBtnDesktop {
    display: none;
  }
}