.layout {
  padding: 80px 28px;
  border-radius: 12px;
  background: #fff;
  margin: 6px 0;
  @media (max-width: 768px) {
    padding: 22px 12px;
  }
  .content {
    display: flex;
    gap: 70px;
    margin: 0 auto;
    align-items: flex-start;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 12px;
    }
    .strategies {
      width: calc(50% - 35px);
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      box-sizing: border-box;
      @media (max-width: 768px) {
        width: 100%;
      }
      .strategy {
        width: calc(50% - 6px);
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        border-radius: 12px;
        background: #fafafa;
        padding: 20px;
        box-sizing: border-box;
        @media (max-width: 768px) {
          width: 100%;
          padding: 16px;
        }
        img {
          margin-bottom: 10px;
        }
        h3 {
          color: #0b1635;
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: uppercase;
        }
        p {
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }

    .subtitle {
      width: calc(50% - 35px);
      position: sticky;
      top: 100px;
      @media (max-width: 768px) {
        width: 100%;
        position: relative;
        top: unset;
      }
      h2 {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 38px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        @media (max-width: 768px) {
          font-size: 28px;
          width: 100%;
        }
        span {
          display: block;
          font-weight: 200;
        }
      }
    }
  }
}
