.metallicSphere {
  position: absolute;
  right: -80px;
  top: -270px;
  z-index: -1;
}

@media (max-width: 768px) {
  .metallicSphere {
    width: 325px;
    height: 325px;
    right: -90px;
    top: -160px;
  }
}