.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.formInner {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #FAFAFA;
  height: 32px;
  width: 32px;
}

.link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.forgotPassword {
  margin-left: auto;
}

.btnLayout {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    justify-content: space-between;
  }
}