.oneSize {
  font-size: 3.625rem;
}

.twoSize {
  font-size: 2.625rem;
}

.threeSize {
  font-size: 2.375rem;
}

.fourSize {
  font-size: 2rem;
  span {
    span {
      font-size: 58px;
      @media (max-width: 768px) {
        font-size: 45px;
      }
    }
  }
}

.fiveSize {
  font-size: 1.375rem;
}

.sixSize {
  font-size: 1.125rem;
}

.weightBold {
  font-weight: 700;
}

.weightSemibold {
  font-weight: 600;
}

.weightMedium {
  font-weight: 500;
}

.weightRegular {
  font-weight: 400;
}

.weightThin {
  font-weight: 300;
}

.darkBlueColor {
  color: #0b1635;
}

.mediumBlueColor {
  color: #0d2056;
}

.coralColor {
  color: #480808;
}

.opacityCoralColor {
  color: rgba(72, 8, 8, 0.7);
}

.blackColor {
  color: rgba(0, 0, 0, 0.7);
}

.lightBlueColor {
  color: #3d4d7c;
}

.darkPurple {
  color: #560d46;
}

.blackPurple {
  color: #410D56;
}

.blackYellow {
  color: #242102;
}

.opacityBlackYellow {
  color: #242102;
  opacity: 0.7;
}

.umberPeach {
  color: #4a300a;
}

.opacityUmberPeach {
  color: #4a300a;
  opacity: 0.7;
}

.white {
  color: #ffffff;
}

.lightGreen {
  color: #0a4a19;
  opacity: 0.7;
}

.green {
  color: #0a4a19;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .oneSize {
    font-size: 2.813rem;
  }

  .fourSize {
    font-size: 1.875rem;
  }

  .fourSize {
    font-size: 1.25rem;
  }
}
