.metallicSphere {
  position: absolute;
  right: -160px;
  top: -300px;
  z-index: -1;
  transform: rotate(16.776deg);
}

@media (max-width: 768px) {
  .layout {
    height: 612px;
  }

  .metallicSphere {
    width: 450px;
    height: 450px;
    right: -150px;
    top: -250px;
  }
}